---
import Item from "@/components/item.astro";
import Layout from "@/layout/layout.astro";
import { getBlogs } from "@/utils/content-blogs.utils";

const blogs = await getBlogs();
const crumbs: { title: string; href: string }[] = [];
---

<Layout title="Blog" description="Blog" {crumbs} pageType="default">
  <h1>Blog</h1>
  <ul class="flex flex-col">
    {
      blogs
        //.filter((blog) => !blog.isDraft)
        .map((blog) => (
          <Item
            item={{
              title: blog.title,
              description: blog.description,
              link: `/blog/${blog.id}`,
              publishedOn: blog.publishedOn,
              lastUpdatedOn: blog.lastUpdatedOn,
              isDraft: blog.isDraft,
              id: blog.id,
              readingTime: blog.minutesRead,
            }}
          />
        ))
    }
  </ul>
</Layout>
