/* ==========================================================================
   TABLES
   ========================================================================== */

.table-container {
  @apply max-w-full overflow-auto;
}

th,
td {
  @apply max-w-[60ch] min-w-[20ch];
}
