---
import Layout from "@/layout/layout.astro"
import SeriesItem from "@/components/series-item.astro"
import { getAllSeries } from "@/utils/content-series.utils"

const series = await getAllSeries()
const crumbs: { title: string; href: string }[] = []
---

<Layout title="Series" description="All blog series" {crumbs} pageType="default">
  <h1 class="mb-6">Series</h1>

  <ul class="space-y-0">
    {
      series
        .filter((seriesItem) => seriesItem.items && seriesItem.items.length > 0)
        .map((seriesItem) => <SeriesItem series={seriesItem} />)
    }
  </ul>
</Layout>
