---
import Item from "@/components/item.astro"
import Layout from "@/layout/layout.astro"
import { getBlogs } from "@/utils/content-blogs.utils"

const blogs = await getBlogs()
const crumbs: { title: string; href: string }[] = []
---

<Layout title="Blog" description="Blog" {crumbs} pageType="default">
  <h1>Blog</h1>
  <ul class="flex flex-col">
    {blogs.map((blog) => <Item item={blog} />)}
  </ul>
</Layout>
