---
import Item from "./item.astro"
import type { ContentItemProps } from "@/utils/content.type"

interface Props {
  prevItem?: ContentItemProps | null
  nextItem?: ContentItemProps | null
}

const { prevItem, nextItem } = Astro.props

if (!prevItem && !nextItem) {
  return null
}
---

<section class="mt-12">
  <h2 class="mb-6 text-2xl font-light">Read more</h2>
  <ul class="flex flex-col">
    {prevItem && <Item textHeading="Next" item={prevItem} />}
    {nextItem && <Item textHeading="Previous" item={nextItem} />}
  </ul>
</section>
