---
import Link from "./link.astro"
import { Icon } from "astro-icon/components"

export interface Props {
  crumbs: {
    title: string
    href: string
  }[]
}

const { crumbs } = Astro.props as Props
---

<nav class="breadcrumb" aria-label="Breadcrumb">
  {
    Array.isArray(crumbs) &&
      crumbs.length > 0 &&
      crumbs.map((crumb, index) => (
        <>
          <Link href={crumb.href} class="nav-link">
            {crumb.title}
          </Link>
          {index < crumbs.length - 1 && (
            <Icon name="carbon:chevron-right" class="breadcrumb-separator icon-sm" />
          )}
        </>
      ))
  }
</nav>
