---
import type { HTMLAttributes } from "astro/types";
import { getLinkProps } from "@/utils/link.utils";
import { Icon } from "astro-icon/components";
const {
  href: propsHref,
  target: propsTarget,
  rel: propsRel,
  icon,
  class: propsClass,
  ...props
} = Astro.props as HTMLAttributes<"a"> & {
  icon?: string;
};

if (!propsHref) {
  throw new Error("href is required");
}
if (typeof propsHref !== "string") {
  throw new Error("href must be a string");
}

const { href, target, rel } = getLinkProps({
  href: propsHref,
  target: propsTarget,
  rel: propsRel,
});
---

<a {...props} {href} {target} {rel} class:list={[propsClass, icon && "flex items-center gap-2"]}>
  {icon && <Icon name={icon} />}
  <slot />
</a>
