---
import { Icon } from "astro-icon/components";

type Props = {
  readingTime: string;
};
const { readingTime } = Astro.props as Props;
---

<span class="flex items-center gap-1">
  <Icon name="carbon:time" />
  {readingTime}
</span>
