---
import Search from "./search.astro";
import ThemeToggler from "./theme-toggler.astro";
import Link from "@/components/link.astro";

interface Props {
  maxWidth?: string;
  class?: string;
}

const { maxWidth = "container", class: className } = Astro.props;
---

<header class:list={["sticky top-0 z-50 w-full border-b", className]}>
  <div class={`${maxWidth} mx-auto px-4`}>
    <div class="flex h-16 items-center justify-between gap-4">
      <!-- Logo/Title -->
      <div class="flex items-center gap-4">
        <Link href="/" class="text-xl font-light"> sujeet.pro </Link>
        <Link href="/blog" class="text-base"> Blog </Link>
      </div>
      <div class="flex items-center gap-4">
        <Search />
        <ThemeToggler />
      </div>
    </div>
  </div>
</header>
