---
import Search from "./search.astro"
import ThemeToggler from "./theme-toggler.astro"
import Link from "@/components/link.astro"

interface Props {
  containerClassName?: string
}

const { containerClassName } = Astro.props
---

<header class:list={["sp-border-muted sticky top-0 z-50 w-full border-b"]}>
  <div class:list={["flex items-center justify-between gap-4", containerClassName]}>
    <!-- Logo/Title -->
    <div class="flex items-center gap-4">
      <Link href="/" class="text-xl font-light"> sujeet.pro </Link>
      <Link href="/post" class="text-base"> Blog </Link>
      <Link href="/deep-dives" class="text-base"> Deep Dives </Link>
      <Link href="/cv" class="text-base"> CV </Link>
    </div>
    <div class="flex items-center gap-4">
      <Search />
      <ThemeToggler />
    </div>
  </div>
</header>
